* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.75) 33%,
    rgba(255, 0, 0, 0.5)
  );
  min-width: 320px;
}

main {
  margin-top: 100px;
}

#nav-bar {
  min-width: 320px;
}

#latest > iframe {
  width: 560px;
  height: 315px;
}
