* {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.75) 75%,
      rgba(255, 0, 0, 0.5)
    ),
    url("img/vert-chains-bg-600.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
}

#nav-bar {
  min-width: 320px;
}

#latest iframe {
  width: 560px;
  height: 315px;
}

section.jumbotron::before,
#pricing::before,
#latest::before,
#features::before {
  content: " ";
  display: block;
  height: 6.25em;
  max-height: 6.25em;
  min-height: 6.25em;
}
